@import "@/scss/variables.scss";
@import "@/scss/mixins.scss";

.breadcrumbs {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;

  p {
    color: $white;
  }

  a {
    color: $blue-gray;
  }

  svg path {
    fill: $blue-gray;
  }
}
