@import "@/scss/variables.scss";

.avatar {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 16px;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        color: $blue-gray;
        font-weight: 600;

        span {
          color: $primary;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  input {
    display: none;
  }
}
