*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}

button,
input,
textarea {
  outline: 0;
  border: 0;
  background-color: transparent;
  font-family: inherit;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;

  li {
    list-style-type: none;
  }
}
