$black: #121212;

$sidebar-color: #17212b;

$error-500: #ff3f3c;
$warning-500: #f1d713;

$foreground: #7bb9ff;

$gray-500: #646b73;
$gray-600: #090e15;
$gray-700: #1c2430;
$gray-900: #030507;

$dark-gray-100: #142133;
$dark-gray-200: #3d454e;
$dark-gray-300: #101922;
$dark-gray-400: rgba(#7bb9ff, 0.1);
$dark-gray-500: #0f1824;
$dark-gray-600: #1f3047;
$dark-gray-700: #0a1621;
$dark-gray-800: #121b28;

$dark-gray: #273242;
$blue-gray: #7a8895;

$divider: #d9d9d9;

$white: #ffffff;

$primary: #13f195;

$transition250: 0.25s ease-in-out;
